<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= book.title %></title>
</head>
<body>
    <div class="book-details">
        <h1><%= book.title %></h1>
        <h2>By: <%= book.author %></h2>
        <% if (book.recommendation) { %>
            <p>This book is recommended!</p>
        <% } else { %>
            <p> This book is not recommended!</p>
        <% } %>
        <div class="book-actions">
          <form 
            class="delete-form"
            action="/books/<%=book._id%>?_method=DELETE" method="POST"
        >
          <button class="delete-button" type="submit">
            Delete <%=book.title %>
          </button>
        </form>
        <a class="edit-link" href="/books/<%=book._id %>/edit">
            <div class="edit-text">Edit <%=book.title %></div>
        </a>
    </div>
    <a class="books-index-link" href="/books">
        <div class="index-link-text">Back to Books</div>
    </a>
</body>
</html>